//
   Created by WuYijie on 12/5/14.

include basic
include sample_slide

doctype html
html(lang="en")
   + head(title, 'no-token')
      link(rel="stylesheet" href="stylesheets/sky.css" id="theme")

   body
      //+ projector()
      .reveal
         .slides
            + slide_sample_3(title)

      script(src=socket_src)
      script(src=reveal_src)
      script(src=head_src)
      script(type="text/javascript").
         Reveal.initialize(
              {
                 controls: true,
                 progress: true,
                 history: true,
                 center: true
              });





