//
   Created by user on 12/28/14.

mixin head(title)
   head
      meta(name="viewport", content="width=1024, user-scalable=no, minimal-ui")
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      script(src="javascripts/front/initialize.js")
      title= title
      meta(name="description", content="Slides")
      link(href="stylesheets/slides.css", media="all", rel="stylesheet")
      link(href="stylesheets/application.css", media="all", rel="stylesheet")
      link(href="stylesheets/editor-v2.css", media="all", rel="stylesheet")
      link(href="stylesheets/deck-v2.css", media="all", rel="stylesheet")
      meta(content="authenticity_token", name="csrf-param")
      meta(content="40+Zpfyb+b7eRZZkhFV7pLG+NPvXG3YXXH3CG3GZeYQ=", name="csrf-token")
      style#user-css-output(type="text/css")
      script#user-css-input(type="text/template")