
include mixins/basic

doctype html

html(lang="en")
 +head(title, "no-token")
   link#theme(rel="stylesheet" href="#")
   if test.test_on == 'true'
     script(type="text/javascript").
       $(function(){
          $('#theme')[0].href='/stylesheets/sky.css';
       });
     script(type="text/javascript").
       $(function(){
         $("button.toEdit").on('click',function(){
           $("#before_edit")[0].innerHTML="Prepare for Edit!";

         });
         $("button.toUpload").on('click', function(){
             $("#test_upload").submit();
             //$("#before_edit")[0].innerHTML= $("input#file1")[0].value;
         });
       });

 body
   .reveal
     .slides
       section
          section
             h2 CLoWN Online Presentation
             p
          section#test_part
            if test.test_on == 'true'
              div#test
                  img(src="/users/img" width="200" hight="200")
                  form#test_upload(action='/upload', method='post', enctype='multipart/form-data')

                      input(type='file', id='file1', name='file1')
                      br
                  button.toUpload#btn1(name='btn1') upload
                  div#before_edit
       section
          section
             p After Test
          section
             p Last but not least ...
             button.toEdit Start Edit!

   script(src='js/lib/reveal.min.js')
   script(type="text/javascript").
     Reveal.initialize(
             {
               controls: true,
               progress: true,
               history: true,
               center: true
             });



