
block content
  h1= title
  p Welcome to #{title}
  div
    form(action='/upload', method='post', enctype='multipart/form-data')
      input(type='file', id='file1', name='file1')
      br
      button(type='submit', id='btn1', name='btn1') upload
