
include basic

doctype html

html(lang="en")
 +head(title, "no-token")
   link(rel="stylesheet" href="stylesheets/reveal.min.css")
   link#theme(rel="stylesheet" href="#")
   if test.test_on == 'true'
     script(type="text/javascript").
       $(function(){
          $('#theme')[0].href='/stylesheets/sky.css';
       });
 body
   if test.test_on == 'true'
     div#test
       p Database test: #{test.test_db}
       p Socket test: #{test.test_sc}
       img(src="/users/img" width="200" hight="200")
     form#test_upload(action='/upload', method='post', enctype='multipart/form-data')
       input(type='file', id='file1', name='file1')
       br
       button(type='submit', id='btn1', name='btn1') upload
   else
      p Not Testing!






