

doctype html

html(lang="en")
 head
   title=title
   meta(charset="utf-8")
   meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
   meta(name="viewport", content="width=1024, user-scalable=no, minimal-ui")
   meta(name="description", content="Slides")

   link(rel="stylesheet" href="stylesheets/reveal.min.css")

   link#theme(rel="stylesheet" href="#")


   script(src="javascripts/lib/jquery.min.js")
   script(src="javascripts/front/tools.js")

   script(src="javascripts/front/initialize.js")

   link(href="stylesheets/slides.css", media="all", rel="stylesheet")
   link(href="stylesheets/application.css", media="all", rel="stylesheet")
   link(href="stylesheets/editor-v2.css", media="all", rel="stylesheet")
   link(href="stylesheets/deck-v2.css", media="all", rel="stylesheet")
   style#user-css-output(type="text/css")
   script#user-css-input(type="text/template")

   if test.test_on == 'true'
     script(type="text/javascript").
       $(document).ready(function(){
         $.ajax({
            type:'put',
            url:'/ajax/put',
            dataType:'text',
            data:{
              username:'apwan',
              email:'471369331@qq.com'
            },
            success:function(data){
              $('#test_ajax')[0].innerHTML = data;
            }
         });
       $('#theme')[0].href='/stylesheets/sky.css';
       });
 body
   if test.test_on == 'true' || test_on == 'true'
     div#test
       p Database test: #{test.test_db}
       p Socket test: #{test.test_sc}
       img(src="/users/img" width="200" hight="200")
     form#test_upload(action='/upload', method='post', enctype='multipart/form-data')
       input(type='file', id='file1', name='file1')
       br
       button(type='submit', id='btn1', name='btn1') upload
       div#test_ajax

   else
      p Not Testing!






