-var html_ctrl = 'clown-login'
//- login.jade
extends ./layout.jade

block title
	title 登陆-Login

block aCSS
	link(href="/stylesheets/login.css" rel="stylesheet")

block content
	.container
		form.form-signin(action="/", method="post")
			h2.form-signin-heading 请登录
			label.sr-only(for='inputUsername') User Name
			input#username.form-control(name='username', type='text', placeholder='User Name', required, autofocus)
			label.sr-only(for='inputPassword') Password
			input#password.form-control(name='password', type='password', placeholder='Password', required)
			button.btn.btn-lg.btn-primary.btn-block#loginBtn(type='text') 登陆

block scripts
	- if (receive)
		script(type="text/javascript").
			$('#username').val(#{username});
			$('#password').val(#{password});
