//
   Created by WuYijie on 1/15/15.

doctype html
html.clown_qunit_test
   head
      title='CLoWN在线展示 - QUnit单元测试'
      link(rel="stylesheet" href="stylesheets/qunit.css")
      script(src="js/lib/jquery.min.js" type="text/javascript")
      script(src="javascripts/lib/qunit.js" type="text/javascript")
      script(src="javascripts/test/unit-1.js" type="text/javascript")
      script(src="javascripts/test/unit-2.js" type="text/javascript")
      script(src="javascripts/test/unit-3.js" type="text/javascript")
   body
      h1#qunit-header QUnit Test1
      h2#qunit-banner
      div#qunit-testrunner-toolbar
      h2#qunit-userAgent
      ol#qunit-tests
      div#qunit-fixture Test Mark



