doctype html
html(lang="en")
	head
		title="reg"
	body
		form(method="post")
			input(type="text", name="username")
			input(type="text", name="password")
			input(type="text", name="repassword")
			input(type="text", name="email")
			input(type="submit", name="submit")
	h1
		#{errmsg}