//
   Created by WuYijie on 1/3/15.

mixin slide_sample_1
   .slides
      section.has-dark-background(data-background-image="/images/background_cwx.jpg", data-background-color="#9900ff", data-id="1a0a655fbb26117bc93e1355eb7e84d5")
         section
            h1 Welcome to CLoWN online presentation!
         section
            p This is a detailed slide!
      section
         section
            p This is the new section!

mixin slide_sample_2
   .slides
      section.has-dark-background(data-background-image="/image/sample.jpg", data-background-color="#9900ff", data-id="1a0a655fbb26117bc93e1355eb7e84d5")
         .sl-block(data-block-type="text", style="width: 800px; left: 0px; top: 130px; height: auto;", data-block-id="cf08c505d6c9962a55339e27053959c4")
            .sl-block-content(data-placeholder-tag="h1", data-placeholder-text="Title Text", style="z-index: 12;")
               h1 Hello World
         .sl-block(data-block-type="code", data-block-id="aa47afdc21fc91b209f84d73b58c7a1e", style="min-width: 30px; min-height: 30px; width: 500px; height: 300px; left: 118px; top: 340px;")
            .sl-block-content(style="z-index: 11; border-width: 1px; border-style: solid;")


         .sl-block(data-block-type="text", data-block-id="e9109cac86f064f0ef2f6579c17c2639", style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 340px; top: 401px;")
            .sl-block-content(data-placeholder-tag="p", data-placeholder-text="Text", style="z-index: 13;")
               p Text
      section
