//
   Created by WuYijie on 12/28/14.
mixin sec_settings
   section.settings
      .panel-body.sl-form
         h2 Settings
         .unit.text.title
            label(for="deck[title]") Title
            input#deck-input-title.xl(type="text", name="deck[title]", size="30", placeholder="Title", maxlength="200")
         .unit.text.slug
            span.text-prefix http://
            input#deck-input-slug.l(type="text", name="deck[slug]", size="30", placeholder="URL", maxlength="200")
         .unit.text.description
            label(for="deck[description]") Description
            textarea#deck-input-description(name="deck[description]", rows="4", maxlength="1400", placeholder="This will appear next to your deck")
         .toggles
            .sl-checkbox.outline
               input#settings-loop(type="checkbox", value="should_loop")
               label(for="settings-loop", data-tooltip="Make the last slide loop back to the first", data-tooltip-maxwidth="220", data-tooltip-delay="500") Loop presentation
            .sl-checkbox.outline.rtl-wrapper
               input#settings-rtl(type="checkbox", value="rtl")
               label(for="settings-rtl", data-tooltip="Make content flow right-to-left", data-tooltip-maxwidth="220", data-tooltip-delay="500") Right-to-left
            .sl-checkbox.outline.hide-when-visibility-self.hide-when-visibility-team
               input#settings-comments_enabled(type="checkbox", value="comments_enabled")
               label(for="settings-comments_enabled", data-tooltip="Allow comments on this deck", data-tooltip-maxwidth="220", data-tooltip-delay="500") Comments
            .sl-checkbox.outline.hide-when-visibility-self.hide-when-visibility-team
               input#settings-forking_enabled(type="checkbox", value="forking_enabled")
               label(for="settings-forking_enabled", data-tooltip="Allow others to fork this deck", data-tooltip-maxwidth="220", data-tooltip-delay="500") Forking
         .unit.text.autoslide
            label(for="deck[autoslide]") Auto-slide
            select#deck-input-autoslide.sl-select(name="deck[autoslide]")
      footer.panel-footer
         button.button.cancel.grey.xl Cancel
         button.button.save.xl OK

mixin sec_style
   section.style
      .panel-body
      footer.panel-footer
         button.button.cancel.grey.xl Cancel
         button.button.save.xl OK
mixin sec_export
   section.export
      .panel-body.sl-form
         .section.promotion
            h2 PDF and Dropbox Sync
            p
               | With a Pro account you can export your deck to PDF. It"s also possible to automatically sync your work to Dropbox, giving you full offline access.
            a.button.l.upgrade-button(href="/account/upgrade", target="_blank") Upgrade to Pro
         .section.download-html
            h2 Export to HTML
            p
               | Download the HTML source of your deck. The exported file does not include external assets, such as images, and is not suitable for offline use.
            button.button.download-html-button.l Download HTML
         .section.download-reveal
            h2 Export to reveal.js
            p
               | This includes the markup for your content as well as the Slides theme CSS. To export, download a copy of the
               a(href="https://github.com/hakimel/reveal.js", target="_blank") reveal.js
               | framework and make the following edits to its index.
            | 1. In the &#60;head&#62;, replace the theme CSS &#60;link&#62; with:
            textarea.deck-css-contents(readonly="")
            | 2. In the &#60;body&#62;, replace the &#60;div class="reveal"&#62; node with:
            textarea.deck-html-contents(readonly="")
      footer.panel-footer
         button.button.close.xl.grey Close
mixin sec_import
   section.import
      .panel-body.sl-form
         .section.import-from-file
            h2 Import PDF
            p
               | Upload a PDF document to import all contained pages as separate slides. Imported content is converted to images.
            .import-browse-button.button.disabled.l Loading...
         .section.import-from-reveal
            h2 Import from reveal.js
            p
               | Paste the HTML source of a
               a(href="http://github.com/hakimel/reveal.js", target="_blank") reveal.js
               | presentation below to import all contained slides. Note that the formatting of imported content can differ since Slides and reveal.js use different themes.
            textarea.import-input(placeholder="Insert reveal.js markup...")
            .import-status
               span.icon
               span.text
               button.button.outline.white.l.proceed Import
      footer.panel-footer
         button.button.close.xl.grey Close
mixin sec_share
   section.share
      .panel-body.sl-form
         .contents
      footer.panel-footer
         button.button.close.xl.grey Close

mixin sec_revisions
   section.revisions
      .panel-body
         h2 Revision History
         ul.version-list
         p.loading
            span.spinner(data-spinner-color="#222222")
         p.empty
            | Once your deck has been saved a few times you"ll see a record of each saved version here. You"ll be able to preview or roll back to any of those versions.
         p.error Please try again by closing and re-opening this panel.
      footer.panel-footer
         .panel-info(data-tooltip="Revisions are automatically deleted after six months.", data-tooltip-maxwidth="300")
            span.icon.i-info
         button.button.close.xl.grey Close



